<a href="https://colab.research.google.com/github/Nagesh535/Pyspark/blob/main/PySpark_Sales_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Linux Basic

In [ ]:
!cat /etc/os-release

PRETTY_NAME="Ubuntu 22.04.4 LTS"
NAME="Ubuntu"
VERSION_ID="22.04"
VERSION="22.04.4 LTS (Jammy Jellyfish)"
VERSION_CODENAME=jammy
ID=ubuntu
ID_LIKE=debian
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
UBUNTU_CODENAME=jammy

In [ ]:
!uname -a

Linux a2c574eaaee8 6.1.123+ #1 SMP PREEMPT_DYNAMIC Sun Mar 30 16:01:29 UTC 2025 x86_64 x86_64 x86_64 GNU/Linux

Linux Basic

In [ ]:
!whoami

root

In [ ]:
!pwd

/content

PySpark Basics of DataFrame

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

## PySpark T and A

In [34]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("PySpark DataFrame Basics").getOrCreate()

In [19]:
cloumn = ["Name","Department","Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]

df =spark.createDataFrame(data , cloumn)
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [26]:
# Filter employees with salary > 3500
high_salary = df.filter(df.Salary > 3500)

high_salary.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| Jane|   Finance|  4000|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [24]:
# GroupBy and Aggregate: Average salary by department
df_filtered = df.groupBy("Department").avg("Salary")
df_filtered.show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [28]:
# Add a new column: Salary with bonus  (10%)
from pyspark.sql.functions import col
exp=col("Salary")*1.1
df_with_bonus = df.withColumn("Salary_10%_Bonus", exp)
df_with_bonus.show()

+-----+----------+------+------------------+
| Name|Department|Salary|  Salary_10%_Bonus|
+-----+----------+------+------------------+
| John|     Sales|  3000|3300.0000000000005|
| Jane|   Finance|  4000|            4400.0|
| Mike|     Sales|  3500|3850.0000000000005|
|Alice|   Finance|  3800|            4180.0|
|  Bob|        IT|  4500|            4950.0|
+-----+----------+------+------------------+

In [29]:
from pyspark.sql.functions import col,upper, lower, concat_ws,length,when

df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [31]:
#Change Case Transformations
df_upper = df.withColumn("Name_Upper", upper(col("Name")))
df_lower = df.withColumn("Name_Lower", lower(col("Name")))

df_upper.show()
df_lower.show()

+-----+----------+------+----------+
| Name|Department|Salary|Name_Upper|
+-----+----------+------+----------+
| John|     Sales|  3000|      JOHN|
| Jane|   Finance|  4000|      JANE|
| Mike|     Sales|  3500|      MIKE|
|Alice|   Finance|  3800|     ALICE|
|  Bob|        IT|  4500|       BOB|
+-----+----------+------+----------+

+-----+----------+------+----------+
| Name|Department|Salary|Name_Lower|
+-----+----------+------+----------+
| John|     Sales|  3000|      john|
| Jane|   Finance|  4000|      jane|
| Mike|     Sales|  3500|      mike|
|Alice|   Finance|  3800|     alice|
|  Bob|        IT|  4500|       bob|
+-----+----------+------+----------+

In [32]:
#concatenate columns
df_concat = df.withColumn("Full_Info", concat_ws(" - ",col("Name"), col("Department")))
df_concat.show()

+-----+----------+------+---------------+
| Name|Department|Salary|      Full_Info|
+-----+----------+------+---------------+
| John|     Sales|  3000|   John - Sales|
| Jane|   Finance|  4000| Jane - Finance|
| Mike|     Sales|  3500|   Mike - Sales|
|Alice|   Finance|  3800|Alice - Finance|
|  Bob|        IT|  4500|       Bob - IT|
+-----+----------+------+---------------+

In [33]:
# String length of Names in New DF
df_length = df.withColumn("Name_Length", length(col("Name")))
df_length.show()

+-----+----------+------+-----------+
| Name|Department|Salary|Name_Length|
+-----+----------+------+-----------+
| John|     Sales|  3000|          4|
| Jane|   Finance|  4000|          4|
| Mike|     Sales|  3500|          4|
|Alice|   Finance|  3800|          5|
|  Bob|        IT|  4500|          3|
+-----+----------+------+-----------+

In [35]:
#conditional columns (Salary Category)
df_conditional = df.withColumn("Salary_Category", when(col("Salary") >= 4000, "High")
.when(col("Salary") >= 3500, "Medium") .otherwise("Low"))
df_conditional.show()

+-----+----------+------+---------------+
| Name|Department|Salary|Salary_Category|
+-----+----------+------+---------------+
| John|     Sales|  3000|            Low|
| Jane|   Finance|  4000|           High|
| Mike|     Sales|  3500|         Medium|
|Alice|   Finance|  3800|         Medium|
|  Bob|        IT|  4500|           High|
+-----+----------+------+---------------+

In [38]:
# Rename column 'Salary' to 'Base_Salary'
df_renamed = df.withColumnRenamed("Salary", "Base_Salary")

df_renamed.show()

+-----+----------+-----------+
| Name|Department|Base_Salary|
+-----+----------+-----------+
| John|     Sales|       3000|
| Jane|   Finance|       4000|
| Mike|     Sales|       3500|
|Alice|   Finance|       3800|
|  Bob|        IT|       4500|
+-----+----------+-----------+

Advance Transformation and Action with PySpark

In [1]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName("Basics").getOrCreate()
columns = ["Name","Department","Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]

df = spark.createDataFrame(data, columns)

df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [2]:
#Group by Department and count employees
df.groupBy("Department").count().show()

+----------+-----+
|Department|count|
+----------+-----+
|     Sales|    2|
|   Finance|    2|
|        IT|    1|
+----------+-----+

In [4]:
df.groupBy("Department").avg("Salary").show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [6]:
df.groupBy("Department").agg({"Salary" : "avg","Salary" : "max","Salary" : "min"}).show()

+----------+-----------+
|Department|min(Salary)|
+----------+-----------+
|     Sales|       3000|
|   Finance|       3800|
|        IT|       4500|
+----------+-----------+

In [7]:
#Group by Department and Calculate multiple Aggregations
from pyspark.sql import functions as functions
df.groupBy("Department").agg(
    functions.avg("Salary").alias("Average_Salary"),
    functions.max("Salary").alias("Max_Salary"),
    functions.min("Salary").alias("Min_Salary")
).show()

+----------+--------------+----------+----------+
|Department|Average_Salary|Max_Salary|Min_Salary|
+----------+--------------+----------+----------+
|     Sales|        3250.0|      3500|      3000|
|   Finance|        3900.0|      4000|      3800|
|        IT|        4500.0|      4500|      4500|
+----------+--------------+----------+----------+

In [8]:
# Create another DataFrame for department info
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C")
]
dept_columns = ["Department", "Location"]

In [10]:
dept_df =spark.createDataFrame(dept_data, dept_columns)
# Join employee data with department info
joined_df = df.join(dept_df, on="Department", how="inner")
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|   Finance| Jane|  4000|Building B|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
|     Sales| John|  3000|Building A|
|     Sales| Mike|  3500|Building A|
+----------+-----+------+----------+

In [11]:
dept_df.show()

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
+----------+----------+

In [12]:
dept_df =spark.createDataFrame(dept_data, dept_columns)
# Join employee data with department info
joined_df = df.join(dept_df, on="Department", how="right")
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|     Sales| Mike|  3500|Building A|
|     Sales| John|  3000|Building A|
|   Finance|Alice|  3800|Building B|
|   Finance| Jane|  4000|Building B|
|        IT|  Bob|  4500|Building C|
+----------+-----+------+----------+

In [13]:
dept_df =spark.createDataFrame(dept_data, dept_columns)
# Join employee data with department info
joined_df = df.join(dept_df, on="Department", how="left")
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|     Sales| John|  3000|Building A|
|   Finance| Jane|  4000|Building B|
|     Sales| Mike|  3500|Building A|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
+----------+-----+------+----------+

In [14]:
dept_df =spark.createDataFrame(dept_data, dept_columns)
# Join employee data with department info
joined_df = df.join(dept_df, on="Department", how="outer")
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|   Finance| Jane|  4000|Building B|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
|     Sales| John|  3000|Building A|
|     Sales| Mike|  3500|Building A|
+----------+-----+------+----------+

In [15]:
# Employee DataFrame
emp_data = [
    (1, "John", "Sales", 3000),
    (2, "Jane", "Finance", 4000),
    (3, "Mike", "Sales", 3500),
    (4, "Alice", "HR", 3800),
    (5, "Bob", "IT", 4500),
    (6, "Sam", "Support", 3200)
]
emp_cols = ["EmpID", "Name", "Department", "Salary"]
emp_df = spark.createDataFrame(emp_data, emp_cols)

# Department DataFrame
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C"),
    ("Admin", "Building D")
]
dept_cols = ["Department", "Location"]
dept_df = spark.createDataFrame(dept_data, dept_cols)

# Display both
emp_df.show()
dept_df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1| John|     Sales|  3000|
|    2| Jane|   Finance|  4000|
|    3| Mike|     Sales|  3500|
|    4|Alice|        HR|  3800|
|    5|  Bob|        IT|  4500|
|    6|  Sam|   Support|  3200|
+-----+-----+----------+------+

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
|     Admin|Building D|
+----------+----------+

In [16]:
#perform inner join
emp_df.join(dept_df, on="Department", how="inner").show()

+----------+-----+----+------+----------+
|Department|EmpID|Name|Salary|  Location|
+----------+-----+----+------+----------+
|   Finance|    2|Jane|  4000|Building B|
|        IT|    5| Bob|  4500|Building C|
|     Sales|    1|John|  3000|Building A|
|     Sales|    3|Mike|  3500|Building A|
+----------+-----+----+------+----------+

In [17]:
#Left join (All employees , Dept Info if Exists)
emp_df.join(dept_df, on="Department", how="left").show()

+----------+-----+-----+------+----------+
|Department|EmpID| Name|Salary|  Location|
+----------+-----+-----+------+----------+
|     Sales|    1| John|  3000|Building A|
|     Sales|    3| Mike|  3500|Building A|
|   Finance|    2| Jane|  4000|Building B|
|        HR|    4|Alice|  3800|      NULL|
|        IT|    5|  Bob|  4500|Building C|
|   Support|    6|  Sam|  3200|      NULL|
+----------+-----+-----+------+----------+

In [18]:
#Right join (All employees , Dept Info if Exists)
emp_df.join(dept_df, on="Department", how="right").show()

+----------+-----+----+------+----------+
|Department|EmpID|Name|Salary|  Location|
+----------+-----+----+------+----------+
|     Sales|    3|Mike|  3500|Building A|
|     Sales|    1|John|  3000|Building A|
|   Finance|    2|Jane|  4000|Building B|
|     Admin| NULL|NULL|  NULL|Building D|
|        IT|    5| Bob|  4500|Building C|
+----------+-----+----+------+----------+

In [20]:
#Full outer Join (All records from both)
emp_df.join(dept_df, on="Department", how="full").show()

+----------+-----+-----+------+----------+
|Department|EmpID| Name|Salary|  Location|
+----------+-----+-----+------+----------+
|     Admin| NULL| NULL|  NULL|Building D|
|   Finance|    2| Jane|  4000|Building B|
|        HR|    4|Alice|  3800|      NULL|
|        IT|    5|  Bob|  4500|Building C|
|     Sales|    1| John|  3000|Building A|
|     Sales|    3| Mike|  3500|Building A|
|   Support|    6|  Sam|  3200|      NULL|
+----------+-----+-----+------+----------+

In [21]:
from pyspark.sql import SparkSession

In [22]:
from pyspark.sql.functions import col, sum, avg, count, month, desc, max, min, row_number

In [23]:
from pyspark.sql.window import Window

In [24]:
spark = SparkSession.builder.appName("SalesAnalysis").getOrCreate()

In [25]:
# Sample data manually for demonstration
sales_data = [
    (1001, 101, 501, "2025-07-10 08:23:00", 3, 25.5),
    (1002, 102, 502, "2025-07-11 09:45:00", 2, 15.0),
    (1003, 103, 503, "2025-07-12 10:15:00", 1, 30.0),
    (1004, 101, 504, "2025-07-13 12:20:00", 5, 25.5),
    (1005, 105, 505, "2025-07-14 14:35:00", 10, 45.0),
    (1006, 102, 506, "2025-07-15 16:00:00", 4, 15.0)
]

In [26]:
product_data = [
    (101, "Widget A", "Gadgets"),
    (102, "Widget B", "Gadgets"),
    (103, "Widget C", "Electronics"),
    (104, "Widget D", "Electronics"),
    (105, "Widget E", "Home & Living")
]

In [27]:
customer_data = [
    (501, "Alice", "alice@example.com", "2025-05-20 10:10:00"),
    (502, "Bob", "bob@example.com", "2025-06-15 14:00:00"),
    (503, "Charlie", "charlie@example.com", "2025-04-05 09:50:00"),
    (504, "David", "david@example.com", "2025-07-01 12:25:00"),
    (505, "Emma", "emma@example.com", "2025-07-10 15:30:00"),
    (506, "Frank", "frank@example.com", "2025-03-23 17:00:00")
]

In [28]:
sales_df = spark.createDataFrame(sales_data, ["sale_id", "product_id", "customer_id", "sale_date", "quantity", "price"])

In [29]:
product_df = spark.createDataFrame(product_data, ["product_id", "product_name", "category"])

In [30]:
customer_df = spark.createDataFrame(customer_data, ["customer_id", "customer_name", "email", "join_date"])

In [31]:
#Aggregration
#1.1 Total Revenue Per Product
from pyspark.sql.functions import expr

sales_df.withColumn("revenue", col("quantity") * col("price")) \
    .groupBy("product_id") \
    .agg(sum("revenue").alias("total_revenue")) \
    .show()

+----------+-------------+
|product_id|total_revenue|
+----------+-------------+
|       103|         30.0|
|       101|        204.0|
|       102|         90.0|
|       105|        450.0|
+----------+-------------+

In [32]:
#1.2 Total Quantity Sold Per Customer
sales_df.groupBy("customer_id").agg(sum("quantity").alias("total_quantity")).show()

+-----------+--------------+
|customer_id|total_quantity|
+-----------+--------------+
|        502|             2|
|        501|             3|
|        503|             1|
|        504|             5|
|        506|             4|
|        505|            10|
+-----------+--------------+

In [33]:
#1.3 Average Revenue Per Customer
sales_df.withColumn("revenue", col("quantity") * col("price")) \
    .groupBy("customer_id") \
    .agg(avg("revenue").alias("avg_revenue")) \
    .show()

+-----------+-----------+
|customer_id|avg_revenue|
+-----------+-----------+
|        502|       30.0|
|        501|       76.5|
|        503|       30.0|
|        504|      127.5|
|        506|       60.0|
|        505|      450.0|
+-----------+-----------+

In [34]:
#1.4 Monthly Sales Total
sales_df.withColumn("revenue", col("quantity") * col("price")) \
    .withColumn("month", month("sale_date")) \
    .groupBy("month") \
    .agg(sum("revenue").alias("monthly_total_revenue")) \
    .show()

+-----+---------------------+
|month|monthly_total_revenue|
+-----+---------------------+
|    7|                774.0|
+-----+---------------------+

In [35]:
#1.5 Count of Sales Per Category
sales_product_df = sales_df.join(product_df, "product_id", "inner")

sales_product_df.groupBy("category").agg(count("sale_id").alias("sales_count")).show()

+-------------+-----------+
|     category|sales_count|
+-------------+-----------+
|  Electronics|          1|
|      Gadgets|          4|
|Home & Living|          1|
+-------------+-----------+

In [36]:
#1.6 Top 3 Most Expensive Products Sold
sales_df.withColumn("revenue", col("quantity") * col("price")) \
    .groupBy("product_id") \
    .agg(sum("revenue").alias("total_revenue")) \
    .orderBy(desc("total_revenue")) \
    .limit(3) \
    .show()

+----------+-------------+
|product_id|total_revenue|
+----------+-------------+
|       105|        450.0|
|       101|        204.0|
|       102|         90.0|
+----------+-------------+

In [37]:
#2️⃣ Joins
#2.1 Join Sales with Product Info
sales_df.join(product_df, "product_id").select("sale_id", "product_name", "category", "quantity", "price").show()

+-------+------------+-------------+--------+-----+
|sale_id|product_name|     category|quantity|price|
+-------+------------+-------------+--------+-----+
|   1001|    Widget A|      Gadgets|       3| 25.5|
|   1004|    Widget A|      Gadgets|       5| 25.5|
|   1002|    Widget B|      Gadgets|       2| 15.0|
|   1006|    Widget B|      Gadgets|       4| 15.0|
|   1003|    Widget C|  Electronics|       1| 30.0|
|   1005|    Widget E|Home & Living|      10| 45.0|
+-------+------------+-------------+--------+-----+

In [38]:
#2.2 Join Sales with Customer Info
sales_df.join(customer_df, "customer_id").select("sale_id", "customer_name", "email", "quantity", "price").show()

+-------+-------------+-------------------+--------+-----+
|sale_id|customer_name|              email|quantity|price|
+-------+-------------+-------------------+--------+-----+
|   1001|        Alice|  alice@example.com|       3| 25.5|
|   1002|          Bob|    bob@example.com|       2| 15.0|
|   1003|      Charlie|charlie@example.com|       1| 30.0|
|   1004|        David|  david@example.com|       5| 25.5|
|   1005|         Emma|   emma@example.com|      10| 45.0|
|   1006|        Frank|  frank@example.com|       4| 15.0|
+-------+-------------+-------------------+--------+-----+

In [39]:
#2.3 Inner Join for Category 'Gadgets'
sales_df.join(product_df, "product_id") \
    .filter(col("category") == "Gadgets") \
    .show()

+----------+-------+-----------+-------------------+--------+-----+------------+--------+
|product_id|sale_id|customer_id|          sale_date|quantity|price|product_name|category|
+----------+-------+-----------+-------------------+--------+-----+------------+--------+
|       101|   1001|        501|2025-07-10 08:23:00|       3| 25.5|    Widget A| Gadgets|
|       101|   1004|        504|2025-07-13 12:20:00|       5| 25.5|    Widget A| Gadgets|
|       102|   1002|        502|2025-07-11 09:45:00|       2| 15.0|    Widget B| Gadgets|
|       102|   1006|        506|2025-07-15 16:00:00|       4| 15.0|    Widget B| Gadgets|
+----------+-------+-----------+-------------------+--------+-----+------------+--------+

In [40]:
#2.4 Left Join Sales and Products
sales_df.join(product_df, "product_id", "left").show()

+----------+-------+-----------+-------------------+--------+-----+------------+-------------+
|product_id|sale_id|customer_id|          sale_date|quantity|price|product_name|     category|
+----------+-------+-----------+-------------------+--------+-----+------------+-------------+
|       103|   1003|        503|2025-07-12 10:15:00|       1| 30.0|    Widget C|  Electronics|
|       101|   1001|        501|2025-07-10 08:23:00|       3| 25.5|    Widget A|      Gadgets|
|       102|   1002|        502|2025-07-11 09:45:00|       2| 15.0|    Widget B|      Gadgets|
|       105|   1005|        505|2025-07-14 14:35:00|      10| 45.0|    Widget E|Home & Living|
|       101|   1004|        504|2025-07-13 12:20:00|       5| 25.5|    Widget A|      Gadgets|
|       102|   1006|        506|2025-07-15 16:00:00|       4| 15.0|    Widget B|      Gadgets|
+----------+-------+-----------+-------------------+--------+-----+------------+-------------+

In [41]:
#2.5 Self-Join on Product ID to Compare Dates
sales_df.alias("s1").join(
    sales_df.alias("s2"),
    (col("s1.product_id") == col("s2.product_id")) & (col("s1.sale_date") < col("s2.sale_date"))
).select("s1.sale_id", "s2.sale_id", "s1.product_id", "s1.sale_date", "s2.sale_date").show()

+-------+-------+----------+-------------------+-------------------+
|sale_id|sale_id|product_id|          sale_date|          sale_date|
+-------+-------+----------+-------------------+-------------------+
|   1001|   1004|       101|2025-07-10 08:23:00|2025-07-13 12:20:00|
|   1002|   1006|       102|2025-07-11 09:45:00|2025-07-15 16:00:00|
+-------+-------+----------+-------------------+-------------------+

In [42]:
#2.6 Full Outer Join Sales and Products
sales_df.join(product_df, "product_id", "outer").show()

+----------+-------+-----------+-------------------+--------+-----+------------+-------------+
|product_id|sale_id|customer_id|          sale_date|quantity|price|product_name|     category|
+----------+-------+-----------+-------------------+--------+-----+------------+-------------+
|       101|   1001|        501|2025-07-10 08:23:00|       3| 25.5|    Widget A|      Gadgets|
|       101|   1004|        504|2025-07-13 12:20:00|       5| 25.5|    Widget A|      Gadgets|
|       102|   1002|        502|2025-07-11 09:45:00|       2| 15.0|    Widget B|      Gadgets|
|       102|   1006|        506|2025-07-15 16:00:00|       4| 15.0|    Widget B|      Gadgets|
|       103|   1003|        503|2025-07-12 10:15:00|       1| 30.0|    Widget C|  Electronics|
|       104|   NULL|       NULL|               NULL|    NULL| NULL|    Widget D|  Electronics|
|       105|   1005|        505|2025-07-14 14:35:00|      10| 45.0|    Widget E|Home & Living|
+----------+-------+-----------+-------------------+--------+-----+------------+-------------+

In [43]:
#2.7 Join Multiple Tables
sales_df.join(product_df, "product_id") \
    .join(customer_df, "customer_id") \
    .select("sale_id", "customer_name", "product_name", "category", "quantity", "price") \
    .show()

+-------+-------------+------------+-------------+--------+-----+
|sale_id|customer_name|product_name|     category|quantity|price|
+-------+-------------+------------+-------------+--------+-----+
|   1002|          Bob|    Widget B|      Gadgets|       2| 15.0|
|   1001|        Alice|    Widget A|      Gadgets|       3| 25.5|
|   1003|      Charlie|    Widget C|  Electronics|       1| 30.0|
|   1004|        David|    Widget A|      Gadgets|       5| 25.5|
|   1006|        Frank|    Widget B|      Gadgets|       4| 15.0|
|   1005|         Emma|    Widget E|Home & Living|      10| 45.0|
+-------+-------------+------------+-------------+--------+-----+

In [44]:
#3️⃣ Additional Transformations
#3.1 Filter Sales Between Dates
sales_df.filter((col("sale_date") >= "2025-07-10") & (col("sale_date") <= "2025-07-15")).show()

+-------+----------+-----------+-------------------+--------+-----+
|sale_id|product_id|customer_id|          sale_date|quantity|price|
+-------+----------+-----------+-------------------+--------+-----+
|   1001|       101|        501|2025-07-10 08:23:00|       3| 25.5|
|   1002|       102|        502|2025-07-11 09:45:00|       2| 15.0|
|   1003|       103|        503|2025-07-12 10:15:00|       1| 30.0|
|   1004|       101|        504|2025-07-13 12:20:00|       5| 25.5|
|   1005|       105|        505|2025-07-14 14:35:00|      10| 45.0|
+-------+----------+-----------+-------------------+--------+-----+

In [45]:
#3.2 Top 5 Customers by Total Spend
sales_df.withColumn("spend", col("quantity") * col("price")) \
    .groupBy("customer_id") \
    .agg(sum("spend").alias("total_spend")) \
    .orderBy(desc("total_spend")) \
    .limit(5) \
    .show()

+-----------+-----------+
|customer_id|total_spend|
+-----------+-----------+
|        505|      450.0|
|        504|      127.5|
|        501|       76.5|
|        506|       60.0|
|        502|       30.0|
+-----------+-----------+

In [46]:
#3.3 Categorize Customers Based on Spend
spend_df = sales_df.withColumn("spend", col("quantity") * col("price")) \
    .groupBy("customer_id") \
    .agg(sum("spend").alias("total_spend"))

spend_df.withColumn("category",
    expr("""
    CASE
        WHEN total_spend < 100 THEN 'Low'
        WHEN total_spend < 200 THEN 'Medium'
        ELSE 'High'
    END
    """)
).show()

+-----------+-----------+--------+
|customer_id|total_spend|category|
+-----------+-----------+--------+
|        502|       30.0|     Low|
|        501|       76.5|     Low|
|        503|       30.0|     Low|
|        504|      127.5|  Medium|
|        506|       60.0|     Low|
|        505|      450.0|    High|
+-----------+-----------+--------+

In [47]:
#3.4 First and Last Purchase per Customer
sales_df.groupBy("customer_id") \
    .agg(min("sale_date").alias("first_purchase"),
         max("sale_date").alias("last_purchase")) \
    .show()

+-----------+-------------------+-------------------+
|customer_id|     first_purchase|      last_purchase|
+-----------+-------------------+-------------------+
|        501|2025-07-10 08:23:00|2025-07-10 08:23:00|
|        502|2025-07-11 09:45:00|2025-07-11 09:45:00|
|        503|2025-07-12 10:15:00|2025-07-12 10:15:00|
|        504|2025-07-13 12:20:00|2025-07-13 12:20:00|
|        505|2025-07-14 14:35:00|2025-07-14 14:35:00|
|        506|2025-07-15 16:00:00|2025-07-15 16:00:00|
+-----------+-------------------+-------------------+

In [48]:
#3.5 Customer Churn: No Purchase in Last 30 Days
from pyspark.sql.functions import to_date, current_date, datediff

latest_sales = sales_df.groupBy("customer_id") \
    .agg(max("sale_date").alias("last_sale"))

churned = latest_sales.withColumn("days_since_last_purchase",
    datediff(current_date(), to_date("last_sale"))) \
    .filter(col("days_since_last_purchase") > 30)

churned.join(customer_df, "customer_id").select("customer_name", "email", "days_since_last_purchase").show()

+-------------+-----+------------------------+
|customer_name|email|days_since_last_purchase|
+-------------+-----+------------------------+
+-------------+-----+------------------------+